@font-face {
    font-family: 'FuenteTitulo';
    src: url('./imagenes/Elione.ttf') format('truetype');
    font-weight: normal;
    margin: 0;
  }
  

body {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url('./imagenes/encabezado.png');
    background-size: cover; /* O '100%' para cubrir el ancho completo */
    height: 400px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3rem;
    text-align: center;
}

.header-content {
    background-color: rgba(0, 0, 0, 0.5); /* Opacidad del fondo */
    padding: 20px;
   
}

h1 {
    font-family: 'FuenteTitulo', sans-serif;
    margin: 0;
    font-weight: normal;
}
p {
    font-size: 1.5rem;
    font-family: sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}

.inicio,.habilidades,.proyectos,.contacto,.estudio {
    text-align: center;
    margin-top: 0px;
    padding: 30px;
    font-size: 1rem; /* Tamaño de fuente ajustado para pantallas más pequeñas */
}

h2 {
    font-family: 'FuenteTitulo', sans-serif;
    font-size: 3rem;
    margin: 2px;
}


.menu {
    position: fixed; /* Hacer que el menú quede fijo en la parte superior */
    top: 0; /* Pegar el menú en la parte superior */
    left: 0;
    width: 100%; /* Ocupar todo el ancho disponible */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #f9c0d9;
    margin: 0;
    padding: 0;
    z-index: 1000; /* Asegurarse de que el menú esté por encima del contenido */
}
  .menu ul {
    list-style: none; /* Quitar los puntos de la lista */
    display: flex; /* Utilizar Flexbox para alinear los elementos del menú */
    margin: 0;
    padding: 0;
}
.menu li {
    margin: 0 1.9rem; /* Espaciado entre los elementos del menú */
}

.menu a {
    text-decoration: none;
    font-size: 1.8rem;
    color: black; /* Color del texto */
    font-family: 'FuenteTitulo', sans-serif; /* Utilizar la fuente personalizada */
}
  

/* Para pantallas más pequeñas, ajustar la distribución del contenido */
@media (max-width: 767px) {
    .header {
        height: 300px; 
        font-size: 1.5rem;
    }
    p{
        font-size: 1.2rem;
        margin-left: 4rem;
        margin-right: 4rem;
    }
 
    .header-content {
        padding: 10px;
    }

    .inicio {
        padding: 10px;
    }
    .menu li {
        margin: 0 1rem;
    }
    .menu a {
        font-size: 1.2rem;
    }
}