body {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url('./imagenes/encabezado.png');
    background-size: cover;
    height: 500px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.header-content {
    background-color: rgba(0, 0, 0, 0.5); /* opacidad del fondo*/
    padding: 20px;
}

h1 {
    margin: 0;
}

.sobreMi {
    text-align: center;
    padding: 30px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
