@font-face {
    font-family: 'FuenteTitulo';
    src: url('./imagenes/Elione.ttf') format('truetype');
    font-weight: normal;
    margin: 0;
  }
  

body {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url('./imagenes/encabezado.png');
    background-size: cover; /* O '100%' para cubrir el ancho completo */
    height: 400px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3rem;
    text-align: center;
}

.header-content {
    background-color: rgba(0, 0, 0, 0.5); /* Opacidad del fondo */
    padding: 20px;
   
}

h1 {
    font-family: 'FuenteTitulo', sans-serif;
    margin: 0;
    font-weight: normal;
}
p {
    font-size: 1.5rem;
    font-family: sans-serif;
    margin: 0;
}

.sobreMi {
    text-align: center;
    padding: 30px;
    font-size: 1rem; /* Tamaño de fuente ajustado para pantallas más pequeñas */
}

h2 {
    font-family: 'FuenteTitulo', sans-serif;
    font-size: 3rem;
    margin-bottom: 10px;
}

/* Para pantallas más pequeñas, ajustar la distribución del contenido */
@media (max-width: 767px) {
    .header {
        height: 300px; /* Puedes ajustar la altura según tus necesidades */
        font-size: 1.5rem; /* Tamaño de fuente ajustado para pantallas más pequeñas */
    }
    p{
        font-size: 1rem;
    }
 
    .header-content {
        padding: 10px;
    }

    .sobreMi {
        padding: 10px;
    }
}